* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Common */

.container {
  padding: 0;
  margin: auto;
  max-width: 80%;
}

.flex {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.loader {
  text-align: center;
}

/* Utilities */

.my-p {
  padding: 40px 0;
}


.m-bottom-20 {
  margin-bottom: 20px;
}

.m-bottom-40 {
  margin-bottom: 40px;
}

.m-right-20 {
  margin-right: 20px;
}

/* Body */

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* HEADER */

header {
  height: 50px;
  background-color: rgb(125, 81, 245);
  padding: 15px 30px;
}

.navbar {
  justify-content: flex-start;
}

.navbar li {
  margin-right: 15px;
}

.navbar a {
  color: #ffffff 
}

.navbar a:hover {
  color: #333333e0;
}

/* MAIN */

/* Home */

.inputCreate {
  width: 50%;
  height: 30px;
  font-size: 13px;
}

/* card-ListPost */

.card {
    padding: 30px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 50px;
    
}

.button {
  background-color: rgb(55, 55, 247);
  color: #ffffff;
  padding: 10px;
  border: 1px solid rgb(55, 55, 247);
  border-radius: 10px;
}

